@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');


// VARIABLES

$color-grey: rgba(82,82,82,.7);
$color-grey-light: rgba(82,82,82,.2797);
$font-din: 'Nanum Gothic Coding', monospace;
$font-proxima: 'Montserrat', sans-serif;

// BASE 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  body{
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.6;
    font-size: 1.6rem;
    color: #222;
  }

}

